<div id="clientes_table">
   <table class="table table-striped" >
      <thead>
         <th></th>
         <th>Nome</th>
         <th>Data cadastro</th>
      </thead>
      <tbody>
         <% clientes.each do |cliente| %>
         <tr>
            <td>
               <div class="btn-group">
                  <%= link_to fa_icon("pencil"), edit_cliente_path(cliente), class: "btn btn-default btn-xs", data: { toggle: "tooltip", placement: "top" },  title: t('links.edit_bill') %>
                  <%= link_to fa_icon("trash"), cliente_path(cliente), method: :delete, "data-confirm": 'Remover cliente?', class: "btn btn-danger btn-xs", data: { toggle: "tooltip", placement: "top" },  title: 'Remover' %>
               </div>
            </td>
            <td>
               <%= cliente.nome %>
            </td>
            <td>
               <%= cliente.created_at.strftime('%d/%m/%Y %R') %>
            </td>
         </tr>
      
         <% end %>
      </tbody>
   </table>
   <div style="text-align: center;">
      <%= will_paginate clientes, renderer: BootstrapPagination::Rails%>
   </div>
</div>