<div id="clientes_table">
   <table class="table table-striped" >
      <thead>
         <th scope="col"></th>
         <th scope="col">Nome</th>
         <th scope="col">Data cadastro</th>
      </thead>
      <tbody>
         <% clientes.each do |cliente| %>
         <tr>
            <td>
               <div class="btn-group btn-group-sm">
                  <%= link_to  content_tag(:i, 'edit', class: 'material-icons'), edit_cliente_path(cliente), class: "btn btn-outline-primary btn-xs", data: { toggle: "tooltip", placement: "top" },  title: 'Alterar' %>
                  <%= link_to content_tag(:i, 'delete', class: 'material-icons'), cliente_path(cliente), method: :delete, "data-confirm": 'Remover cliente?', class: "btn btn-outline-danger btn-xs", data: { toggle: "tooltip", placement: "top" },  title: 'Remover' %>
               </div>
            </td>
            <td>
               <%= cliente.nome %>
            </td>
            <td>
               <%= cliente.created_at.strftime('%d/%m/%Y %R') %>
            </td>
         </tr>
      
         <% end %>
      </tbody>
   </table>
   <div class="float-right">
      <%= will_paginate clientes, renderer: BootstrapPagination::Rails%>
   </div>
</div>