<%= f.fields_for :enderecos do |endereco| %>
  <div class="control-group nested-fields">
    <div class="controls">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4">
          <ul class="form-group list-unstyled">
            <li>
              <%= f.input :cep ,input_html: {class: 'form-control cep' },  :placeholder => 'CEP'%>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
          <ul class="form-group list-unstyled">
            <li>
              <%= f.input :cidade, class: 'form-control', :placeholder => 'Cidade' %>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
          <ul class="form-group list-unstyled">
            <li>
              <%= f.input :bairro, class: 'form-control', :placeholder => 'Bairro' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-sm-12 col-lg-10">
          <ul class="form-group list-unstyled">
            <li>
              <%= f.input :rua ,class: 'form-control', :placeholder => 'Rua'%>
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-12 col-lg-2">
          <ul class="form-group list-unstyled">
            <li>
              <%= f.input :numero,label: 'Número' ,class: 'form-control numero', :placeholder => 'Número', as: :integer %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
          <ul class="form-group list-unstyled">
            <li>
              <%= f.input :complemento ,class: 'form-control', :placeholder => 'Complemento'%>
            </li>
          </ul>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12">
          <ul class="form-group list-unstyled">
            <li>
              <%= link_to_remove_association fa_icon("trash", text: 'Remover'), f, class: 'btn btn-outline-danger' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
  </div>
<% end %>