<div class="card">
  <div class="card-body">
  <h3 class="card-title text-center">Enviar instruções de confirmação</h3>
<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Enviar" %>
  </div>
<% end %>
  <%= render "users/shared/links" %>
  </div>
</div>