<div id="minhas_empresas_table">
   <table class="table table-striped" >
      <thead>
         <th scope="col"></th>
         <th scope="col">Nome</th>
         <th scope="col">Criado em</th>
      </thead>
      <tbody>
         <% empresas.each do |empresa| %>
         <tr>
            <td>
               <div class="btn-group btn-group-sm">
                  <%= link_to fa_icon("pencil"), edit_empresa_path(empresa), class: "btn btn-outline-primary btn-xs", data: { toggle: "tooltip", placement: "top" },  title: 'Alterar' %>
                  <%= link_to fa_icon("sign-out"), minha_empresa_path(empresa), method: :delete, "data-confirm": 'Sair da empresa?', class: "btn btn-outline-danger btn-xs", data: { toggle: "tooltip", placement: "top" },  title: 'Sair da empresa' %>
                  <%= remover_admin(empresa)%>
               </div>
            </td>
            <td>
               <%= sou_admin empresa %>
            </td>
            <td>
               <%= empresa.created_at.strftime('%d/%m/%Y %R') %>
            </td>
         </tr>
      
         <% end %>
      </tbody>
   </table>
   <div class="float-right">
      <%= will_paginate empresas, renderer: BootstrapPagination::Rails%>
   </div>
</div>