<%= content_tag :nav, class: "navbar navbar-expand-lg navbar-light justify-content-between", style: 'background-color: #FFFFFF;' do %>
  <%= content_tag :span, class: "navbar-brand mb-0 h1" do %>
    <%= link_to "MeuNegócio", root_path, :class => "navbar-brand" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <%= content_tag :a, 'Clientes', class: 'nav-link', href: clientes_path%>
      </li>
    </ul>
    <ul class="navbar-nav">
        <%= content_tag :ul, class: 'navbar-nav mr-auto' do%>
          <li class="nav-item active">
            <%= content_tag :a, fa_icon('briefcase', text: empresa_selecionada.nome), class: 'nav-link', href: minhas_empresas_path%>
          </li>
        <%= content_tag :li, class: 'nav-item dropdown active' do%>
            <%= content_tag :a, fa_icon("user-circle-o", text: current_user.email) , class: 'nav-link dropdown-toggle', 'data-toggle': 'dropdown', href: '#', role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false'%>
                <%=content_tag :div, class: 'dropdown-menu' do %>
                        <%= content_tag :a, 'Editar conta', class: 'dropdown-item', href: edit_user_registration_path %>
                        <%= content_tag :div, '', class: 'dropdown-divider' %>
                        <%= content_tag :a, 'Sair', class: 'dropdown-item', href: destroy_user_session_path, 'data-method': :delete %>
                <% end %>
        <% end%>
    <% end %>
     </ul>
    
  </div>
    
<% end %>
