<!DOCTYPE html>
<html>
  <head>
    <title>MeuNegocio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'%>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.6/css/all.css'%>
    <%= javascript_include_tag 'https://buttons.github.io/buttons.js', :defer => "defer", :async => 'async' %>
    
    <%= javascript_include_tag 'application'%>
    <meta name="description" content="Gerenciador de fluxo de caixa">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#A9A9A9">
  </head>

  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <%= render 'layouts/sidebar'%>        
        
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        <!-- Main Navbar -->
          <%= render 'layouts/navbar'%>
          <%= render 'layouts/messages' %>
          <div class="main-content-container container-fluid px-4">
             <%= yield %>
            </div>
        </main>
      </div>
    </div>
    
  </body>
</html>
