<div class="card">
  <div class="card-body">
  <h3 class="card-title"><%= resource_name.to_s.humanize %></h3>
    <hr>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :name, label: 'Nome', autofocus: true %>
        <%= f.input :email, required: true, hint: ("Currently waiting confirmation for: #{resource.unconfirmed_email}" if (devise_mapping.confirmable? && resource.pending_reconfirmation?)) %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caracteres mínimos" if @minimum_password_length), label: 'Senha', placeholder: "Deixe em branco se não deseja alterar" %>
        <%= f.input :password_confirmation, required: true, label: 'Confirme a senha' %>
        <%= f.input :current_password, required: true, label: 'Senha atual', hint: 'Precisamos da senha atual para confirmar as mudanças' %>
        

      </div>
      <div class="form-actions">
        <%= f.button :submit, "Alterar" %>
        <%= link_to "Voltar", :back, class: 'card-link' %>
      </div>
    <% end %>
    <br>
    <!--
  <div class="card-footer text-muted">
    <h3>Cancelar conta</h3>
    <p>Tá triste? <%= button_to "Cancelar conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %></p>
  </div>
  -->
</div>